<div id="<%= dom_id comment %>">
  <p>
    <strong>Contenido:</strong>
    <%= comment.contenido %>
  </p>

  <p>
    <strong>Anonimo:</strong>
    <%= comment.anonimo %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>

</div>
